<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">

    <app-big-card
      Id="1"
      photoCover="https://i.pinimg.com/736x/89/d3/78/89d378b845766a8f0c48e955336266f8.jpg"
      cardTitle="DOMINE O TRELLO: GERENCIE PROJETOS DE QUALQUER LUGAR"
      cardDescription="Descubra como o Trello pode ajudar seu time a se organizar, colaborar e aumentar a produtividade!"
      >
    </app-big-card>

  </div>
  <div class="articles__others">
    <app-small-card
      Id="2"
      cardTitle="Trello na Prática: Organize Tarefas com Facilidade"
      photoCover="https://i.pinimg.com/736x/bb/d6/0a/bbd60a4ee7da5ebec6127eb4a39ec937.jpg"
    >
    </app-small-card>

    <app-small-card
      Id="3"
      cardTitle="Produtividade Visual: Como o Trello Transforma sua Rotina"
      photoCover="https://i.pinimg.com/736x/99/f9/a9/99f9a9bbb201e7258180abd3fd25345c.jpg"
    >
    </app-small-card
    >

    <app-small-card
      Id="4"
      cardTitle="Método Kanban no Trello: O Segredo para uma Gestão Ágil"
      photoCover="https://i.pinimg.com/736x/e5/b1/e8/e5b1e8ed4376aa4cf507a33064123c0b.jpg"
    >
    </app-small-card>
  </div>
</div>
